# Même que sdkconfig_s3_wdt.txt mais table de partitions 8 MB (env wroom-s3-test-devkit)
# CONFIG_APP_ROLLBACK_ENABLE is not set
# CONFIG_ESP_INT_WDT is not set
# CONFIG_ESP_TASK_WDT_INIT is not set
CONFIG_ESP_TASK_WDT_TIMEOUT_S=300
CONFIG_ARDUINO_LOOP_STACK_SIZE=32768
# CONFIG_ESP_COREDUMP_ENABLE is not set
CONFIG_ESP_COREDUMP_ENABLE_TO_NONE=y
# CONFIG_ESP_COREDUMP_ENABLE_TO_FLASH is not set
# CONFIG_ESP_COREDUMP_ENABLE_TO_UART is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="config/partitions/partitions_esp32_s3_8mb.csv"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
# CONFIG_ESP_INSIGHTS_TRANSPORT_HTTPS is not set
CONFIG_ESP_INSIGHTS_TRANSPORT_MQTT=y
