// Ce projet utilise le fichier credentials partagé à la racine de firmwires/.
// Copier firmwires/credentials.h.example vers firmwires/credentials.h et remplir les valeurs.
// Le build utilise -I../ donc #include "credentials.h" charge firmwires/credentials.h.
// API_KEY doit être identique au .env du serveur (iot.olution.info). Valeur projet : fdGTMoptd5CD2ert3.
